/* LAYOUT */
@page {
    margin: 0;
}
html {
    font-size: 14px;
    line-height: 1.2;
}
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER
 **************************************/
.header {
    border-bottom: 1px solid DimGrey;
    position: relative;
}
.header_photo {
    float: left;
}
.header__contact {
    position: absolute;
    right: 0; bottom: 0;
    text-align: right;
    line-height: 2em;
    color: darkslategray;
}
.header__title {
    text-align: center;
    margin: 0 200px;
}
.header__title > * {
    margin: 0;
}
.header__title > h1 {
    font-size: 50px;
    font-family: 'Ruslan Display',cursive;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: -0.25em;
}
.header__title > h2 {
    text-transform: uppercase;
    display: inline;
}
.header__title > h2:nth-of-type(2)::before {
    content: ' - ';
    display: inline;
}

@media (orientation: portrait) {
    .header {
        display: flex;
    }
    .header__title {
        margin: 0;
        text-align: left;
    }
    .header__title > h2 {
        display: block;
    }
    .header__title > h2:nth-of-type(2)::before {
        display: none;
    }
}


/* LAYOUT FORM
 **************************************/
form {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: url(background.png) center center no-repeat;
}
.formIdentity {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-basis: 50%;
    border-right: 1px solid DimGrey;
}

@media (orientation: portrait) {
    form {
        display: block;
    }
    .formIdentity {
        border-width: 0;
    }
}


/* GENERAL FORM
 **************************************/
form > * {
    display: flex;
    flex-direction: column;
}
.formGroup {
    padding-top: 1em;
    flex-grow: 1;
}
.formLine {
    padding: 12px 0 1.2em 0;
    overflow: hidden;
}
.formItem {
    float: left;
    position: relative;
    width: 44%;
    margin-left: 4%;
}
.formItem + .formItem{
    margin-right: 4%;
}
.formItem--double {
    width: 92%;
}
input[type=text] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid darkgray;
    border-width: 0 1px 1px;
    width: 100%;
    height: 0.5em;
    margin-top: 0.5em;
    vertical-align: bottom;
}
input.inText {
    width: 300px;
    border-style: dotted;
    border-width: 0 0 1px;
}
.interInput {
    width: 5%;
    display: inline-block;
    text-align: center;
    margin: 0 -0.32em;
}
label {
    position: absolute;
    top: 100%;
    color: darkslategray;
}
label > i {
    font-size: x-small;
    font-style: normal;
}
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
p {
    margin: 0.5em 4% 0;
    text-align: justify;
    line-height: 1.4;
}

/* IDENTITY
 **************************************/
input.day,
input.month {
    width: 25%;
    margin-right: 0;
}
input.year {
    width: 40%;
}