/* LAYOUT */
@page {
    margin: 0;
}
html {
    font-size: 12px;
    line-height: 1.2;
}
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER
 **************************************/
.header {
    border-bottom: 1px solid DimGrey;
    position: relative;
}
.header__contact {
    position: absolute;
    right: 0; bottom: 0;
    text-align: right;
    line-height: 2em;
    color: darkslategray;
}
.header__title {
    text-align: center;
    margin: 0 200px;
}
.header__title > * {
    margin: 0;
}
.header__title > h1 {
    font-size: 50px;
    font-family: 'Ruslan Display',cursive;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: -0.25em;
}
.header__title > h2 {
    text-transform: uppercase;
    display: inline;
}
.header__title > h2:nth-of-type(2)::before {
    content: ' - ';
    display: inline;
}

@media (orientation: portrait) {
    .header {
        display: flex;
    }
    .header__title {
        margin: 0;
        text-align: left;
    }
    .header__contact {
        display: none;
    }
}


/* LAYOUT FORM
 **************************************/
form {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: url(background.png) center center no-repeat;
}
.formIdentity {
    border-right: 1px solid DimGrey;
    padding-right: 1em;
}
.formInscription {
    padding-left: 1em;
}
form > * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}
.formGroup {
    padding-top: 1em;
    flex-grow: 1;
    overflow: hidden;
}

@media (orientation: portrait) {
    form {
        flex-direction: column;
    }
    .formIdentity {
        border-width: 0;
    }
    .formInscription {
        padding-right: 1em;
        padding-left: 0;
    }
    form > * {
        flex-grow: 1;
        flex-basis: auto;
    }
}


/* GENERAL FORM
 **************************************/
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.tableWrapper {
    margin-left: 4%;
    width: 96%;
}
.formItem {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 46%;
    margin-left: 4%;
    padding: 12px 0 1.2em 0;
}
.formItem--double {
    width: 96%;
}
label {
    position: absolute;
    bottom: 0;
    color: darkslategray;
}
label > i {
    font-size: x-small;
    font-style: normal;
}
input[type=text] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid darkgray;
    border-width: 0 1px 1px;
    width: 100%;
    height: 0.5em;
    margin-top: 0.5em;
    vertical-align: bottom;
}
input.inText {
    width: 300px;
    border-style: dotted;
    border-width: 0 0 1px;
}
input.inText--half {
    width: 150px;
}
.interInput {
    width: 5%;
    display: inline-block;
    text-align: center;
    margin: 0 -0.32em;
}
p {
    margin: 0.5em 0 0 4%;
    text-align: justify;
    line-height: 1.4;
}

@media (orientation: portrait) {
    .formItem {
        padding-top: 6px;
        width: 30%;
        margin-left: 3%;
    }
    .formItem--double {
        width: 63%;
    }
}


/* IDENTITY
 **************************************/
.formItem--photo {
    float: right;
}
.photo {
    margin: 0 auto;
    border: 1px darkgray solid;
    background: white;
    width: 35mm;
    height: 45mm;
}
.formItem--birth {
    clear: left;
}

@media (orientation: portrait) {
    .formItem--photo {
        position: absolute;
        width: auto;
        right: 60px;
        top: 40px;
    }
    .formBloc--address {
        float: left;
    }
    .formBloc--contact {
        float: right;
    }
}
input.day,
input.month {
    width: 25%;
    margin-right: 0;
}
input.year {
    width: 40%;
}


/* INSCRIPTION
 **************************************/
.attachment,
.activity {
    border-collapse: collapse;
    width: 100%;
}
.attachment tr td,
.activity tr td {
    padding-top: 6px
}
.attachment tr td:nth-child(2),
.activity tr td:nth-child(2),
.activity tr td:nth-child(3) {
    text-align: center;
}
.activity .total td {
    font-weight: bold;
    text-align: right;
}
.attachment .toComplete,
.activity .toComplete {
    border-bottom: 1px darkgray dotted;
    min-width: 75px;
}

@media (orientation: portrait) {
    .attachment tr td,
    .activity tr td {
        padding-top: 0
    }
}
