/* LAYOUT */
@page {
    margin: 0;
}
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER
 **************************************/
.header {
    border-bottom: 1px black solid;
}
.header_photo {
    float: left;
}
.header__contact {
    float: right;
    text-align: right;
    line-height: 2em;
}
.header__title {
    text-align: center;
    margin: 0 200px;
}
.header__title > * {
    margin: 0;
}
.header__title > h1 {
    font-size: 50px;
    font-family: 'Ruslan Display',cursive;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.header__title > h2 {
    margin-top: -0.4em;
}

/* FORM
 **************************************/
.form {
    flex: 1;
    flex-direction: row;
}

/* IEDNTITE
 **************************************/
.formIdentity {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    border-right: 1px black solid;
}
.formIdentity__member {

}